.grow-underline {
    position: relative;
    padding: 2px 8px; /* Padding horizontal diperbesar sedikit jika perlu */
    display: inline-block; /* Pastikan link berperilaku sebagai inline-block */
}

.grow-underline::after {
    content: '';
    position: absolute;
    bottom: -4px; /* Menyesuaikan jarak underline dari teks */
    left: 0;
    right: 0;
    height: 2px;
    background: white; /* Sesuaikan warna sesuai keinginan */
    transition: transform .3s ease;
    transform: scaleX(0);
    transform-origin: left;
}

.grow-underline:hover::after,
.grow-underline.active::after {
    transform: scaleX(1);
}